<div class="app">
  <header>
  </header>
  <div class="container">
    <div class="nav-container">

      <h1>Angular Mini Apps</h1>
      <nav>
        <a routerLink="/post" routerLinkActive="active" href="">Post</a>
        <!-- <a routerLink="/folder" routerLinkActive="active" href="">Folders</a> -->
        <a routerLink="/todos" routerLinkActive="active" href="">Todos</a>
        <a routerLink="/weather" routerLinkActive="active" href="">Weather</a>
      </nav>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

